#message-alert {
    width: 100vw;
    position: fixed;
    bottom: 0;
}
.alert-danger {
    padding: 1rem 135px;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
label.error {
    display: list-item;
    margin-top: 5px;
    color: #842029;
}

.btn-withdraw {
    margin-top: 20px;
}
.btn-withdraw button:hover {
    background-color: orange;
    color: white;
}
.btn-transfer-money {
    margin-top: 20px;
}
.btn-transfer-money button:hover {
    background-color: rgb(66, 66, 235);
    color: white;
}
.btn-withdraw {
    margin-top: 20px;
}
.btn-withdraw button:hover {
    background-color: orange;
    color: white;
}