<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Customer Information</title>
</head>
<body>
<form action="/customers" method="post">
  <fieldset>
    <legend>Customer Information</legend>
    <input type="hidden" name="id" th:value="${customer.id}">
    <table>
      <tr>
        <td>Id</td>
        <td th:text="${customer.id}"></td>
      </tr>
      <tr>
        <td>Name</td>
        <td>
          <input type="text" name="name" th:value="${customer.name}">
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>
          <input type="text" name="email" th:value="${customer.email}">
        </td>
      </tr>
      <tr>
        <td>Address</td>
        <td>
          <input type="text" name="address" th:value="${customer.address}">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Update">
        </td>
      </tr>
    </table>
  </fieldset>
</form>
<a href="/customers">Back to list</a>.
</body>
</html>