header {
    background: #299be4;
    color: #fff;
    padding: 16px 30px;
    border-radius: 3px 3px 0 0;
}

header .btn {
    float: right;
    min-width: 50px;
    outline: none !important;
    margin-top: 10px;
    margin-left: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 0;
    padding-right: 50px;
    color: #0f5132;
}

.message-success{
    color:green;
}

#message-alert {
    width: 100vw;
    position: fixed;
    bottom: 0;
}

.alert-success {
    padding: 1rem 135px;
}

.alert-danger {
    padding: 1rem 135px;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

label.error {
    display: list-item;
    margin-top: 5px;
    color: #842029;
}
