<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete province</title>
</head>
<body>
<h1>Delete province</h1>
<h2>Are you sure?</h2>
<p>
  <a href="/provinces">Province list</a>
</p>
<form th:action="@{/delete-province}" th:object="${province}" method="post">
  <input th:type="hidden" name="id" th:field="*{id}">
  <table>
    <tr>
      <td>Name:</td>
      <td th:text="${province.name}"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Delete province"></td>
    </tr>
  </table>
</form>
</body>
</html>