<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit province</title>
</head>
<body>
<h1>Edit province</h1>
<p>
  <a href="/provinces">Province list</a>
</p>
<th:block th:if="${message}">
  <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-province}" th:object="${province}" method="post">
  <input th:type="hidden" name="id" th:field="*{id}">
  <table>
    <tr>
      <td>First name:</td>
      <td><input type="text" th:field="*{name}"/></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Update province"></td>
    </tr>
  </table>
</form>
</body>
</html>