<!doctype html>
<html>
<head>
  <title>Home</title>
  <th:block th:replace="/layout/head :: head"/>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body className='snippet-body'>
<div class="wrapper rounded bg-white">
  <a href="/"><i class="fa-sharp fa-solid fa-house-chimney fa-2x"></i></a>
  <div class="d-flex align-items-center justify-content-end px-sm-3 pt-3 px-1">
    <div class="text-muted">Items per page (<b>53 items</b> )</div>
    <select name="num" id="num" class="px-2 py-1 ml-sm-2 ml-1">
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
    </select>
    <select name="sort" id="sort" class="px-1 py-1 ml-2">
      <option value="" selected hidden>Sort by</option>
      <option value="rating">Rating</option>
      <option value="popular">Popular</option>
      <option value="featured">Featured</option>
    </select>
    <a href="/shopping-cart"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>
  </div>
  <hr>


  <div class="row px-sm-2 px-0 pt-3">
    <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 mb-3">
      <div class="card">
        <div class="px-2 red text-uppercase">new</div>
        <div class="d-flex justify-content-center">
          <img th:src="@{${product.image}}" class="product" alt="">
        </div>
        <b class="px-2">
          <p class="h4 text-center" th:text="${product.name}"></p>
        </b>
        <div class="d-flex align-items-center justify-content-start rating border-top border-bottom py-2">
          <div class="text-muted text-uppercase px-2 border-right">insto2007</div>
          <div class="px-lg-2 px-1">
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <a href="#" class="px-lg-2 px-1 reviews">{3 Reviews}</a>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between py-2 px-3">
          <div class="h4" th:text="${product.price}"><span>&#xa3;</span></div>
          <div>
            <a th:href="@{/add/__${product.id}__(action='list')}">
              <button class="btn btn-dark text-uppercase">
                buy now
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h2 th:text="${product.name}"></h2>
      <hr>
      <p th:text="${product.getDescription()}"></p>
    </div>
  </div>

</div>



<th:block th:replace="/cp/layout/script :: script"/>
</body>
</html>