<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit Customer</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/product/update}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="email" th:field="*{price}"/>
        </div>
        <div>
            <label>Describe</label>
            <input type="text" th:field="*{describe}"/>
        </div>
        <div>
            <label>Manufacture</label>
            <input type="text" th:field="*{manufacture}"/>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>