<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div class="cusdetail">
        <label>Price:</label>
        <label th:text="${product.price}"></label>
    </div>
    <div class="cusdetail">
        <label>Describe:</label>
        <label th:text="${product.describe}"></label>
    </div>
    <div class="cusdetail">
        <label>Manufacture:</label>
        <label th:text="${product.manufacture}"></label>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
