<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new customer</a>
<h1>Customers</h1>
<table border="1">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <th:block th:each="customer : ${customers}">
    <tr>
      <td th:text="${customer.firstName}"></td>
      <td th:text="${customer.lastName}"></td>
      <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
      <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
    </tr>
  </th:block>
</table>
</body>
</html>