<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="script">
  <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
  <script type='text/javascript' src='#'></script>
  <script type='text/javascript' src='#'></script>
  <script type='text/javascript' src='#'></script>
  <script type='text/javascript'>#</script>
  <script type='text/javascript'>var myLink = document.querySelector('a[href="#"]');
  myLink.addEventListener('click', function(e) {
    e.preventDefault();
  });</script>


</th:block>