<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="/layout/head :: head"/>
    <title>Create Customer</title>
    <link rel="stylesheet" href="/assets/css/create.css">
</head>

<body>
<div class="container">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-5">
                <h1>Edit Customer</h1>
            </div>
            <div class="col-sm-7 btn-a">
                <a class="btn btn-outline-light" href="/customers"><i class="fa fa-list"></i> List of customers
                </a>
            </div>
        </div>
    </div>

    <form method="post"  th:object="${customer}">
        <div class="form-create">
            <div class="row col-6">
                <div class="col-ms-6">
                    <p>Full Name</p>
                    <input class="form-control" type="text" th:field="*{fullName}">
                    <div>
                        <label class="error" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></label>
                    </div>
                </div>
                <div class="col-ms-6">
                    <p>Phone</p>
                    <input class="form-control" type="text" th:field="*{phone}">
                    <div>
                        <label class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></label>
                    </div>
                </div>
            </div>
            <div class="row col-6">
                <div class="col-ms-6">
                    <p>Email</p>
                    <input class="form-control" type="text" th:field="*{email}">
                    <div>
                        <label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                    </div>
                </div>
                <div class="col-ms-6">
                    <p>Address</p>
                    <input class="form-control" type="text" th:field="*{address}">
                    <div>
                        <label class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-action">
            <button class="btn btn-outline-primary" type="text">
                <i class="fa-solid fa-plus"></i> Save customer
            </button>
        </div>
    </form>
    <footer>
        <div id="message-alert">
            <th:block th:if="${error}">
                <div class="alert-danger">
                    <label class="error" th:text="${error}"></label>
                </div>
            </th:block>

        </div>
    </footer>
</div>

</body>
</html>